{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ exception.message }}</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}"</h2>
        <p><a href="{{ path('home_index') }}" class="btn-lg btn-primary">Return to the homepage</a></p>
    </div>
{% endblock %}