{% extends 'base.html.twig' %}

{% block body %}
    {% import 'macros/mixedMacros.html.twig' as mixedMacros %}
    <div class="jumbotron text-center">
        <h2>We are Sorry!</h2>
        <h2>{{ exception.message }}</h2>
        <h2>{{ mixedMacros.vehturiinikLink('home_index','Return to the homepage') }}</h2>
    </div>
{% endblock %}