{% extends 'base.html.twig' %}

{% block main %}
    <h2>Your Cash is: {{ app.user.money }}</h2>
    {% for productName, quantity in quantities %}
        {{ purchasesMacros.purchaseProduct(products[productName], quantity) }}
    {% endfor %}
{% endblock %}