{% extends 'base.html.twig' %}

{% block main %}
    {% for product in products %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ session.get(product.name) }}</h3>
                <h3 class="panel-title"><a class="pull-right purchases-actions" href="#">Remove</a></h3>
                <h3 class="panel-title">{{ product.name }}</h3>
            </div>
            <div class="panel-body">
                {{ product.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

