{% extends 'base.html.twig' %}

{% block main %}
    {% import 'macros/cartMacros.html.twig' as cartMacros %}
    <h2>Your Cash is: {{ app.user.money }} vehturiiki</h2>
    {% for product in products %}
        {{ cartMacros.cartProduct(product, quantities[product.name]) }}
    {% endfor %}
    <h4>Total Amount: {{ total }} vehturiiki</h4>
    <a href="{{ path('checkout_cart') }}" class="btn btn-primary">Buy All Products</a>
{% endblock %}

