{% extends 'base.html.twig' %}

{% block main %}
    <h2 class="text-center"><a href="{{ path('view_users_panel') }}" class="btn-lg btn-info">Edit User Personal Data And Purchases</a></h2>
{% endblock %}

