body{
    padding-top: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.footer-mooter{
    text-align: center;
}
.purchases-actions{
    padding-left: 15px;
}
.price{
    background-color: #3399ff;
    display: inline-block;
    text-align: center;
    color: white;
}
.cart-buttons{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.quantity-field{
    color: black;
    width: 40px;
    text-align: center;
}