{% extends 'base.html.twig' %}

{% block main %}
    {% for category in categories %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center"><a href="{{ path('view_products_in_category', {id: category.id}) }}">{{ category.name }}</a></h3>
            </div>
            <div class="panel-body text-center">
                {{ category.summaryOfDescription }}
            </div>
        </div>
    {% endfor %}
{% endblock %}