{% extends 'base.html.twig' %}

{% block main %}
    {% if app.user %}
        <h2>Your Cash is: {{ app.user.money }} vehturiiki</h2>
    {% endif %}
    {% for product in products %}
       {{ shopMacros.shopProduct(product) }}
    {% endfor %}
{% endblock %}