{% extends 'base.html.twig' %}

{% block main %}
    {% import 'macros/shopMacros.html.twig' as shopMacros %}
    {% if app.user %}
        <h2>Your Cash is: {{ app.user.money }} vehturiiki</h2>
        {% if app.user.money >= constant('VehturiinikShopBundle\\Entity\\User::MONEY_TO_BE_DISCOUNTED') or app.user.isRegularCustomer %}
            <h3>You have bonus discount on NOT discounted products - 10%</h3>
        {% endif %}
    {% endif %}
    {% for product in products %}
       {{ shopMacros.shopProduct(product) }}
    {% endfor %}
    {{ knp_pagination_render(products) }}
{% endblock %}