{% extends 'base.html.twig' %}

{% block main %}
    {% for category in categories %}
        <div class="container">
            <h3 class="text-center"><a href="{{ path('view_products_panel', {'id': category.id}) }}" class="btn-lg btn-info">{{ category.name }}</a></h3>
        </div>
    {% endfor %}
    <div class="container">
        <h3 class="text-center"><a href="{{ path('discount_all_products') }}" class="btn-lg btn-primary">Discount All</a></h3>
    </div>
{% endblock %}