{% extends 'base.html.twig' %}

{% block main %}
    {% import 'macros/mixedMacros.html.twig' as mixedMacros %}
    {% for category in categories %}
        {{ mixedMacros.adminLink("view_products_panel", category.name, {'id': category.id}) }}
    {% endfor %}
    {{ mixedMacros.adminLink('discount_all_products','Discount All') }}
    <div class="pagination">
        {{ knp_pagination_render(categories) }}
    </div>
{% endblock %}