{% extends 'base.html.twig' %}

{% block main %}
    <h2 class="text-center">
        This project was made by Lubomir Borisov !
        <br>
        Credit to Bootstrap, Symfony and SoftUni!
        <br>
        <img src="../{{ asset('pictures/creator.jpg') }}" style="width: 250px;height: 250px">
    </h2>
{% endblock %}